.Buttons{
	/* layout */
	display: flex;

	.btn{
		/* layout */
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
	
		/* color */
		color: white;

		/* font */
		font-size: 15px;

		/* etc */
		cursor: pointer;

		&.add{
			background: #37b24d;

			&:hover{
				background: #40c057;
			}
		}
		
		&.remove{
			background: #f03e3e;
	
			&:hover{
				background: #40c057;
			}
		}
	}
}