.Counter {
	/* layout */
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;

	 /* color */
	color: white;

	/* font */
	font-size: 30px;

	/* etc */
	border-radius: 100%;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.75s;
}